/************************ Generals ************************/

.homepage {
  position: relative;
  z-index: 0;
  background: #000;
}

.homepage::before {
  background-color: #000;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

/************************ Banner ************************/
.banner {
  background: url("../images/main-banners/hero-landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 0;
}

.banner-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
}

.banner-left,
.banner-right {
  width: 50%;
}

.banner-left .subtitle {
  display: flex;
  color: #fff;
  font-size: 5em;
  line-height: 0.8;
}

.banner-left .symbol {
  width: 50px;
  margin: 0 0.25em;
  position: relative;
  bottom: 15px;
}

.banner-left .title {
  color: #fff;
  font-size: 8em;
  line-height: 1;
}

/************************ Schools ************************/

.schools {
  padding: 4em 0;
  position: relative;
}

.schools-title {
  text-align: center;
  margin-bottom: 4em;
}

.schools-icon {
  color: #fff;
  font-size: 1.3em;
  position: relative;
  padding: 3em 0;
}

.schools-icon::before {
  width: 2px;
  height: 35px;
  background: #ff0000;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.schools-icon::after {
  width: 2px;
  height: 35px;
  background: #ff0000;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.schools-icon .circle {
  width: 35px;
  height: 35px;
  background: #ff0000;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  box-shadow: 0px 0px 1px 1px rgba(244, 244, 244, 0.8);
  animation: pulse-animation 2s infinite;
}

.schools-icon img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.school-inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2em;
}

.school-card {
  width: calc(50% - 1em);
  display: flex;
  align-items: center;
  background: rgba(136, 150, 148, 0.18);
  border-radius: 35px;
}

.school-card img {
  width: 75px;
  z-index: 1;
}

.school-card h3 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.school-card h3 span {
  color: #ff0000;
}

.school-card p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.school-card p:last-child {
  margin-bottom: 0;
}

.school-symbol {
  height: 100%;
  background: rgba(136, 150, 148, 0.1);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.school-details {
  padding: 2em;
}

/************************ Main Characters ************************/
.main-chars {
  padding: 4em 0;
  background-image: url("../images/main-banners/the-witcher-3-wild-hunt-landscape-nature-river-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
}

.main-chars::before {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/* .main-chars  */

.main-chars-title {
  text-align: center;
  margin-bottom: 4em;
  z-index: 3;
  position: relative;
}

.main-chars h1 {
  font-size: 1.8em;
}

.main-chars p {
  font-size: 1.2em;
  line-height: 1.5;
}

.main-chars p span {
  font-size: 1.5em;
}

.main-chars p span:first-of-type {
  margin-right: 0.5em;
}

.main-chars p span:last-of-type {
  margin-left: 0.5em;
}

.main-chars a {
  color: #fff;
  font-size: 1.2em;
}

.main-chars .inner-chars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.main-chars img {
  transform: scale(0.9);
}

.main-chars .flip-card {
  background-color: transparent;
  /* width: calc(25%  - 1em); */
  width: calc(20% - 1em);
  height: 40em;
  perspective: 1000px;
  z-index: 3;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card-front {
  background: rgba(0, 0, 0, 0.25);
}

.flip-card-back {
  background-color: #523d35;
  color: white;
  transform: rotateY(180deg);
  padding: 2em;
  gap: 2em;
}

.flip-card:nth-child(2) .flip-card-back {
  background-color: #202020;
}

.flip-card:nth-child(3) .flip-card-back {
  background-color: #10202f;
}

.flip-card:nth-child(4) .flip-card-back {
  background-color: #593647;
}

/************************ Symbols ************************/
.symbols {
  padding: 4em 0;
}

.slider {
  background: transparent;
  height: 18vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, #000 0%, #000 50%, transparent 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(200px * 14);
}

.slider .slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider img {
  filter: brightness(0) invert(1);
  width: 120px;
}

.slide p {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ff0000;
}

/************************ Animations ************************/

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(244, 244, 244, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(244, 244, 244, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/************************ Media Query ************************/
@media screen and (max-width: 992px) {
  .main-chars .flip-card {
    width: calc(32% - 0.5em);
  }

  .school-card {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .school-symbol {
    height: 90px;
    width: 100%;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 0;
  }

  .main-chars .inner-chars {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 3em;
  }

  .banner {
    padding: 100px 0 40px;
  }
  .banner-left,
  .banner-right {
    width: 100%;
  }

  .banner-inner {
    gap: 2em;
  }

  .banner-inner {
    text-align: center;
  }

  .banner-left .subtitle {
    justify-content: center;
  }

  .main-chars .flip-card {
    width: calc(50% - 0.5em);
  }

  .school-card h3 {
    font-size: 1.5em;
  }

  .school-symbol {
    padding: 2em;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 80px 0 40px;
  }

  .banner-left .title {
    font-size: 4em;
  }

  .banner-left .subtitle {
    font-size: 4em;
  }

  .main-chars h1 {
    font-size: 1.5em;
  }

  .main-chars .flip-card {
    width: 100%;
    margin: 0 auto;
  }

  .school-card {
    width: 100%;
  }

  .symbols {
    padding: 4em 0 0;
  }

  .slider {
    height: 21vh;
  }

  .slider::before,
  .slider::after {
    width: 100px;
  }

  .slider img {
    width: 120px;
  }
}
