* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************ Generals ************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Charm', cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
}
.homepage {
    
    background-image: url('../images/pattern.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

body::before {
    background-color: #000;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
  }


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2em;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 1.7em;
}


/************************ Links ************************/

.links li {
    list-style: none;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

.links li a:hover {
    color: #ff0000;
}

.links li a.active {
    color: #ff0000;
}


/************************ Header ************************/
header {
    position: fixed;
    padding: 0 2em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 1.5em;
    font-weight: 700;
}

.navbar .links {
    display: flex;
    gap: 2em;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

/************************ Dropdown Menu ************************/


.dropdown-menu {
    display: none;
    position: absolute;
    right: 2em;
    top: 70px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 200px;
}

.dropdown-menu li {
    list-style: none;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #fff;
}

/************************ Banner ************************/
.banner {
    position: relative;
    background-image: url('../images/geralt-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: top center;
}


.banner::after {
    background-color: #000;
    opacity: .7;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.inner-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    gap: 2em;

    min-height: 100vh;
}

.inner-banner .title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 4.5em;
    font-weight: 700;
    color: #fff;
    line-height: .8;
    transform: scale(1.5);
}

.inner-banner .title span {
    font-size: .6em;
    display: flex; 
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}

.inner-banner .title img {
    width: 70px;
    position: relative;
    left: 6px;
}

.separation {
    position: absolute;
    content: '';
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


.separation img {
    width: 50px;
    filter: brightness(0) invert(1);
    transform: scale(1);

    animation: pulse 2s infinite;
}


@keyframes pulse{
    0%{
        transform: scale(0.5);
    }

    70%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(0.5);
    }
}

/************************ Schools ************************/
.schools {
    padding: 6em 0;
    position: relative;
}


.schools .title {
    position: relative;
    margin-bottom: 6em;
}


.inner-schools {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3em;
}

.inner-schools img {
    width: 75px;
}

.single-school {
    width: calc(50% - 1.5em);
    background: rgba(136, 150, 148, 0.181);
    padding: 2em;
    border-radius: 10px;
}

.single-school p {
    font-size: 1.4em;
    line-height: 1.5;
    margin-bottom: .5em;
}

.school-desc {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.school-desc h3 span {
    color: #ff0000;
    letter-spacing: 1px;
    font-size: 1.7em;
}

.schools .separation {
    bottom: 0;
}

/************************ Main Characters ************************/
.main-characters {
    padding: 6em 0;
}

.main-characters .separation {
    bottom: 0;
}

.main-characters .title {
    margin-bottom: 6em;
}

.inner-characters {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2em;
    position: relative;
}

.character-box {
    text-decoration: none;
    width: calc(25% - 2em);
    transition: all .5s ease-in;
}


.character-box:hover h3{
    color: #ff0000;
}

.character-box .picture {
    background: rgba(136, 150, 148, 0.181);
    padding: 2em;
    border-radius: 10px;
    transition: all .5s ease;
}

.character-box:hover .picture {
    background: rgba(0,0,0, .3);
}

.characters-text {
    margin-bottom: 2em;
}

/************************ Footer ************************/
footer {
    background: #000;
    padding: 6em 0;
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer-links {
    display: flex;
    gap: 2em;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: all .5s ease-in;
}

.footer-links li a:hover {
    color: #ff0000;
}
/************************ Media Query ************************/
@media screen and (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    .dropdown-menu li a{
        font-size: 1.1em;
    }

    .dropdown-menu li:last-child {
        padding-bottom: 0;
    }

    .school-desc h3, .school-desc h3 span {
        font-size: 1.5em;
    }

    .single-school p {
        font-size: 1.2em;
    }

    .characters-text h3 {
        font-size: 1.5em;
    }


}

@media screen and (max-width: 768px) {
    .single-school {
        width: 100%;
    }

    .character-box {
        width: calc(50% - 1em);
    }

   
}

@media screen and (max-width: 576px) {
    .dropdown-menu {
        left: 2em;
        width: unset;
    }

    .school-desc h3, .school-desc h3 span {
        font-size: 1.3em;
    }

    .school-desc {
        gap: 1em;
    }

    .character-box {
        width: 100%;
    }

    .inner-footer {
        justify-content: center;
        text-align: center;
    }

    .footer-links {
        margin-bottom: 2em;
    }

    .main-characters img {
        width: unset;
        margin: 0 auto;
        height: 400px;
    }
}
